html{height:100%}
body{width:100%;background:url(../img/login/login-bg-4.jpg) no-repeat center center;background-size: cover;background-attachment: fixed;}
.login-header{padding:10px;background: rgba(255,255,255,0.95);height:80px;position: fixed;width:100%;top:0;left:0;z-index: 100}
.login-header .logo{padding:8px 0 0 10px;}
.login-header .logo img{float:left;width:48px;margin-right:10px;}
.login-header .logo span{float:left;line-height: 46px;color:#1bbc9b;font-size:20px;font-weight:bold;}
.login-main{width: 1100px;margin:160px auto 60px;}
.login-main .login-box{width:100%;height:540px;}
.login-main .login-box .left_pic{float:left;width:45%;height:100%;background:#0d9b7e url(../img/login/login-left.jpg) no-repeat center right;background-size: cover;}
.login-main .login-box .right_con{float: right;
    width: 55%;height:100%;padding:40px;box-sizing: border-box;
    position: relative;
    background: rgba(255,255,255,.9);}

.login-main .login-box .right_con h2{font-size: 24px;text-align: center;
    padding-left: 15px;
    color: #1BBC9B;line-height: 50px;margin-bottom:50px;}
.login-main .login-box .login-form .form-control{height:50px;font-size:16px;margin-bottom:20px;}
.login-main .login-box .login-form .form-actions{margin-top:30px;}
.login-main .login-box .login-form .btn{height:50px;font-size:16px;}
@media (max-width: 1200px) {
    .login-main{width:100%;padding:0 20px;box-sizing: border-box}
}
@media (max-width: 991px) {

}
@media (max-width: 767px) {
    .login-main .login-box .left_pic{display: none;}
    .login-main .login-box .right_con{width:100%;}
}


.display-hide{display:none;}
.close{
           display: inline-block;
           margin-top: 5px;
           margin-right: 0;
           width: 9px;
           height: 9px;
           background-repeat: no-repeat !important;
           text-indent: -10000px;
           outline: none;
           background-image: url(../img/login/remove-icon-small.png) !important;
       }