<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- annotation -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="save*" read-only="false" propagation="REQUIRED"
                       rollback-for="Exception"/>
            <tx:method name="add*" read-only="false" propagation="REQUIRED"
                       rollback-for="Exception"/>
            <tx:method name="insert*" read-only="false" propagation="REQUIRED"
                       rollback-for="Exception"/>
            <tx:method name="delete*" read-only="false" propagation="REQUIRED"
                       rollback-for="Exception"/>
            <tx:method name="update*" read-only="false" propagation="REQUIRED"
                       rollback-for="Exception"/>
            <tx:method name="set*" read-only="false" propagation="REQUIRED"
                       rollback-for="Exception"/>
            <tx:method name="get*" read-only="true" rollback-for="Exception"/>
            <tx:method name="select*" read-only="true" rollback-for="Exception"/>
            <tx:method name="cancel*" propagation="REQUIRED"
                       rollback-for="Exception"/>
        </tx:attributes>
    </tx:advice>

</beans>