#body {
    OVERFLOW: hidden;
    BORDER-TOP: #ddd 1px solid;
    BORDER-RIGHT: #ddd 1px solid;
    WIDTH: 960px;
    BACKGROUND: #fff;
    BORDER-BOTTOM: #ddd 1px solid;
    PADDING-BOTTOM: 9px;
    TEXT-ALIGN: left;
    PADDING-TOP: 9px;
    PADDING-LEFT: 9px;
    CLEAR: both;
    MARGIN: 0px auto;
    BORDER-LEFT: #ddd 1px solid;
    DISPLAY: block;
    PADDING-RIGHT: 9px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px
}

#body:after {
    HEIGHT: 0px;
    CONTENT: ".";
    CLEAR: both;
    DISPLAY: block;
    VISIBILITY: hidden
}

.panel_head {
    HEIGHT: 40px;
    BACKGROUND: url(tit_bg.gif) repeat-x 50% top;
    COLOR: #333;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    FONT: bold 12px/30px Arial;
    PADDING-LEFT: 10px;
    CLEAR: both;
    PADDING-RIGHT: 10px;
    TEXT-INDENT: 5px;
    border-radius: 4px
}

.panel1 {
    BORDER-TOP: #ddd 1px solid;
    BORDER-RIGHT: #ddd 1px solid;
    BORDER-BOTTOM: #ddd 1px solid;
    PADDING-BOTTOM: 7px;
    PADDING-TOP: 7px;
    PADDING-LEFT: 7px;
    MARGIN: 0px 0px 10px;
    BORDER-LEFT: #ddd 1px solid;
    PADDING-RIGHT: 7px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;

}

.li:hover {
    background: #666
}

.side .panel_body {
    PADDING-BOTTOM: 4px;
    PADDING-TOP: 4px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px
}

.panel_body LI {
    COLOR: #666;
    MARGIN: 8px 0px
}

.panel_body LI SPAN {

}

.panel_body LI A {

}

#main {
    OVERFLOW: hidden;
    BORDER-TOP: #ddd 1px solid;
    BORDER-RIGHT: #ddd 1px solid;
    WIDTH: 748px;
    BORDER-BOTTOM: #ddd 1px solid;
    FLOAT: right;
    PADDING-BOTTOM: 7px;
    PADDING-TOP: 7px;
    PADDING-LEFT: 0px;
    BORDER-LEFT: #ddd 1px solid;
    PADDING-RIGHT: 0px;
    border-radius: 4px
}

.list {
    MARGIN: 20px 20px 0px
}

.list_view {
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    PADDING-LEFT: 0px;
    MARGIN: 0px 20px;
    PADDING-RIGHT: 0px
}

.list_view .article_title {
    HEIGHT: 30px;
    TEXT-OVERFLOW: ellipsis;
    FLOAT: left;
    FONT: 14px/30px Arial;
    MARGIN: 0px;
    DISPLAY: inline
}

.list_view .article_title:after {
    CONTENT: "..."
}

.list_view .article_title H3 {
    FONT: 12px/30px Arial
}

.list_view .article_title H1 {
    FONT: 12px/30px Arial
}

.list_view .article_manage {
    WHITE-SPACE: nowrap;
    FLOAT: right;
    PADDING-BOTTOM: 0px !important;
    TEXT-ALIGN: right !important;
    PADDING-TOP: 0px !important;
    PADDING-LEFT: 0px !important;
    DISPLAY: inline;
    LINE-HEIGHT: 30px !important;
    PADDING-RIGHT: 0px !important
}

.list_view .article_description {
    DISPLAY: none !important
}

.list_view .article_manage SPAN {
    MARGIN: 0px
}

.details {
    MARGIN: 20px
}

.details .article_content {
    FONT: 14px/26px Arial;
    MARGIN: 20px 0px 0px
}

.article_next_prev {
    FLOAT: left;
    COLOR: #666;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 10px;
    FONT: 14px/24px "Microsoft YaHei", Arial, Helvetica, sans-serif;
    PADDING-LEFT: 0px;
    CLEAR: both;
    MARGIN: 0px 0px 5px;
    DISPLAY: block;
    PADDING-RIGHT: 0px
}

.article_next_prev LI {
    LIST-STYLE-TYPE: none;
    OVERFLOW: hidden;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 0px;
    CLEAR: both;
    PADDING-RIGHT: 0px
}

.article_next_prev:after {
    HEIGHT: 0px;
    CONTENT: ".";
    CLEAR: both;
    DISPLAY: block;
    VISIBILITY: hidden
}

.article_next_prev LI SPAN {
    FONT-SIZE: 14px;
    HEIGHT: 26px;
    WIDTH: 52px;
    FLOAT: left;
    COLOR: #fff;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 27px;
    DISPLAY: block;
    PADDING-RIGHT: 0px;
    BACKGROUND-COLOR: #999999;
    MARGIN-RIGHT: 7px
}

.article_next_prev LI:hover SPAN {
    BACKGROUND-COLOR: #c00
}

.article_next_prev LI A {
    FONT-SIZE: 14px;
    FLOAT: left;
    COLOR: #333333;
    DISPLAY: block
}

.article_next_prev LI A:link {
    COLOR: #333
}

.article_next_prev LI A:visited {
    COLOR: #333
}

.article_next_prev LI A:hover {
    COLOR: #333
}

.article_next_prev LI:hover A {
    COLOR: #c00
}

.article_next_prev LI:hover A:link {
    COLOR: #c00
}

.article_next_prev LI:hover A:visited {
    COLOR: #c00
}

.article_next_prev LI:hover A:hover {
    COLOR: #c00
}

.commentform UL {
    MARGIN: 0px
}

.commentform LI {
    LIST-STYLE-TYPE: none;
    MARGIN: 0px
}

#digg {
    WIDTH: 182px;
    PADDING-BOTTOM: 15px;
    TEXT-ALIGN: center;
    PADDING-TOP: 30px;
    PADDING-LEFT: 0px;
    CLEAR: both;
    MARGIN: 0px auto;
    DISPLAY: block;
    PADDING-RIGHT: 0px;
    _width: 188px
}

#digg:after {
    HEIGHT: 0px;
    CONTENT: ".";
    CLEAR: both;
    DISPLAY: block;
    VISIBILITY: hidden
}

.digg {
    OVERFLOW: hidden;
    HEIGHT: 72px;
    WIDTH: 72px;
    BACKGROUND: #ff7900;
    FLOAT: left;
    TEXT-ALIGN: center;
    MARGIN: 0px 2px;
    DISPLAY: inline-block
}

.digg DT {
    COLOR: #fff;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 12px;
    FONT: 27px/30px "Microsoft YaHei";
    PADDING-LEFT: 0px;
    MARGIN: 0px;
    PADDING-RIGHT: 0px
}

.digg DD {
    COLOR: #fff;
    FONT: 12px/22px Arial;
    MARGIN: 0px
}

.digg_enable {
    CURSOR: pointer;
    BACKGROUND: #ff7900;
    TEXT-ALIGN: center
}

.digg_disable {
    BACKGROUND: #999;
    COLOR: #fff
}

.digg_disable DD {
    COLOR: #fff
}

.pagelist {
    COLOR: #666;
    PADDING-BOTTOM: 15px;
    TEXT-ALIGN: center;
    PADDING-TOP: 15px;
    FONT: 12px/24px Arial;
    PADDING-LEFT: 0px;
    CLEAR: both;
    PADDING-RIGHT: 0px
}

.pagelist A {
    CURSOR: pointer;
    BORDER-TOP: #dbe5ee 1px solid;
    HEIGHT: 22px;
    BORDER-RIGHT: #dbe5ee 1px solid;
    BACKGROUND: #fff;
    BORDER-BOTTOM: #dbe5ee 1px solid;
    COLOR: #333;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    FONT: 12px/22px Arial, Helvetica, sans-serif;
    PADDING-LEFT: 8px;
    MARGIN: 0px 2px;
    BORDER-LEFT: #dbe5ee 1px solid;
    DISPLAY: inline-block;
    PADDING-RIGHT: 8px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px
}

.pagelist STRONG {
    TEXT-DECORATION: none;
    BORDER-TOP: medium none;
    HEIGHT: 24px;
    BORDER-RIGHT: medium none;
    BACKGROUND: #07519a;
    BORDER-BOTTOM: medium none;
    FONT-WEIGHT: normal;
    COLOR: #fff;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 8px;
    MARGIN: 0px 3px;
    BORDER-LEFT: medium none;
    DISPLAY: inline-block;
    LINE-HEIGHT: 24px;
    PADDING-RIGHT: 8px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px
}

.pagelist A:hover {
    TEXT-DECORATION: none;
    BORDER-TOP: medium none;
    HEIGHT: 24px;
    BORDER-RIGHT: medium none;
    BACKGROUND: #07519a;
    BORDER-BOTTOM: medium none;
    COLOR: #fff;
    MARGIN: 0px 3px;
    BORDER-LEFT: medium none;
    LINE-HEIGHT: 24px
}

.pagelist A.select {
    CURSOR: default
}

#side {
    OVERFLOW: hidden;
    WIDTH: 200px;
    FLOAT: left;
    LINE-HEIGHT: 120%
}

#side A {
    COLOR: #369
}

#side A:hover {
    COLOR: #200
}

#panel_Profile {

}

#panel_Profile SPAN {
    COLOR: #333
}

#blog_userface {
    PADDING-BOTTOM: 10px;
    TEXT-ALIGN: center;
    PADDING-TOP: 10px;
    PADDING-LEFT: 10px;
    MARGIN: 0px 0px 5px;
    PADDING-RIGHT: 10px
}

#blog_userface IMG {
    MAX-WIDTH: 160px;
    BORDER-TOP: #ddd 1px solid;
    BORDER-RIGHT: #ddd 1px solid;
    BORDER-BOTTOM: #ddd 1px solid;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    PADDING-LEFT: 2px;
    BORDER-LEFT: #ddd 1px solid;
    PADDING-RIGHT: 2px
}

#blog_userface SPAN {
    FONT-WEIGHT: bold;
    TEXT-ALIGN: center;
    DISPLAY: block
}

#blog_medal {
    TEXT-ALIGN: center
}

#blog_rank:after {
    HEIGHT: 0px;
    CONTENT: ".";
    CLEAR: both;
    DISPLAY: block;
    VISIBILITY: hidden
}

#blog_rank LI {

}

#blog_rank LI SPAN {

}

#blog_statistics {
    MARGIN: 0px 5px;
    DISPLAY: block
}

#blog_statistics:after {
    HEIGHT: 0px;
    CONTENT: ".";
    CLEAR: both;
    DISPLAY: block;
    VISIBILITY: hidden
}

#blog_statistics LI {
    WIDTH: 50%;
    FLOAT: left;
    MARGIN: 4px 0px
}

#blog_statistics LI SPAN {

}

#blog_statistics LI A {

}

#panel_Search {

}

#panel_Search .panel_body SPAN {
    FLOAT: left
}

#panel_Category {

}

#newcomments {

}

#archive_list {
    DISPLAY: block
}

#archive_list:after {
    HEIGHT: 0px;
    CONTENT: ".";
    CLEAR: both;
    DISPLAY: block;
    VISIBILITY: hidden
}

.comment_item FIELDSET {
    BORDER-TOP: #ddd 1px solid;
    BORDER-RIGHT: #ddd 1px solid;
    BORDER-BOTTOM: #ddd 1px solid;
    COLOR: #999;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 10px;
    BORDER-LEFT: #ddd 1px solid;
    PADDING-RIGHT: 10px;
    BACKGROUND-COLOR: #f1f1f1
}

.comment_head {
    BACKGROUND: #f1f1f1;
    COLOR: #888;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px;
    PADDING-LEFT: 4px;
    CLEAR: both;
    PADDING-RIGHT: 4px;
    border-radius: 5px
}

.commentform_title {
    BACKGROUND: #f1f1f1;
    COLOR: #888;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px;
    PADDING-LEFT: 4px;
    CLEAR: both;
    PADDING-RIGHT: 4px;
    border-radius: 5px
}

.comment_reply .comment_head {
    BACKGROUND-COLOR: #ddd
}

.comment_reply {
    BACKGROUND-COLOR: #f6f6f6
}

.newcomment {
    BORDER-TOP: #eee 1px solid;
    BORDER-RIGHT: #eee 1px solid;
    WIDTH: 90%;
    BORDER-BOTTOM: #eee 1px solid;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    PADDING-LEFT: 10px;
    MARGIN: 5px;
    BORDER-LEFT: #eee 1px solid;
    LINE-HEIGHT: 20px;
    PADDING-RIGHT: 10px;
    BACKGROUND-COLOR: #f6f6f6
}

.details .article_content IMG {
    MAX-WIDTH: 100%
}

.q-reply {
    CURSOR: pointer;
    BORDER-TOP: 0px;
    HEIGHT: 40px;
    BORDER-RIGHT: 0px;
    RIGHT: 40px;
    MIN-WIDTH: 40px;
    BORDER-BOTTOM: 0px;
    POSITION: fixed;
    COLOR: #fff;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 0px;
    MARGIN: 0px;
    BORDER-LEFT: 0px;
    LINE-HEIGHT: 16px;
    PADDING-RIGHT: 0px;
    BOTTOM: 35px;
    border-radius: 0
}

.backtop {
    CURSOR: pointer;
    BORDER-TOP: 0px;
    HEIGHT: 40px;
    BORDER-RIGHT: 0px;
    RIGHT: 40px;
    MIN-WIDTH: 40px;
    BORDER-BOTTOM: 0px;
    POSITION: fixed;
    COLOR: #fff;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 0px;
    MARGIN: 0px;
    BORDER-LEFT: 0px;
    LINE-HEIGHT: 16px;
    PADDING-RIGHT: 0px;
    BOTTOM: 80px;
    border-radius: 0
}

.glyphicon {
    FONT-FAMILY: "Glyphicons Halflings";
    POSITION: relative;
    FONT-WEIGHT: normal;
    FONT-STYLE: normal;
    DISPLAY: inline-block;
    LINE-HEIGHT: 1;
    TOP: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
